@model TechnicalSupport.Models.Client

<h1>Edit</h1>

<h4>Client @ViewBag.Client.User.FirstName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeClient">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" value="@ViewBag.Client.ClientId"/>
            <input type ="hidden" asp-for="User.UserId" value="@ViewBag.Client.User.UserId">
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" value="@ViewBag.Client.User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" value="@ViewBag.Client.User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Phone" class="control-label"></label>
                <input asp-for="User.Phone" value="@ViewBag.Client.User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" value="@ViewBag.Client.User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Clients">Back to List</a>
</div>